.ai-card {
    background-color: var(--color-card);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 10px;
    width: 200px;
    height: 320px;
    transition: transform 0.3s ease;
}

.ai-card:hover {
    transform: scale(1.05);
}

.image-container {
    text-align: center;
    width: 100%;
    height: 50%;
}

.ai-card .ai-image{
    width: 80%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 15px;
    height: 100%;
}

.ai-card .name {
    font-size: 1.5em;
    margin-top: 10px;
    color: var(--color-text);
    text-align: center;
}

a {
  text-decoration: none; /* removes underline */
  color: inherit; /* keeps original text color */
}


.ai-card .description {
    font-size: 1em;
    color: var(--color-muted);
    text-align: center;
}

@media (max-width: 600px) {
    .ai-card {
        box-sizing: border-box;
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0 5px 5px 5px;
    }

    .image-container {
        height: 66px;
        width: 66px;
    }

    .ai-card .ai-image{
        width: fit-content;
    }

    .ai-card .name {
        font-size: 0.9rem;
        color: var(--color-text);
        text-align: left;
        margin-top: none;
        margin-left: 10px;
    }

    .ai-card .description {
        text-align: center;
        margin-left: 20px;
        font-size: 0.8rem;
    }

}
