footer {
    width: 100%;
    background-color: var(--color-card);
    padding: 4px;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--color-border);
}


.app-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    gap:10px;
}

footer .logo{
    width: 40px;
    object-fit: contain;
}

footer .app-title{
    color: var(--color-text);
    font-size: 0.9rem;
    font-weight: bold;
    margin-right: 20px;
}

footer p.developer{
    color: var(--color-muted);
    text-align: center;
    font-size: 0.9rem;
}

footer .developer a{
    color: var(--color-text);
    font-weight: bold;
    font-size: 1rem;
}


@media (max-width: 600px) {
    footer p.developer{
        font-size: 0.7rem;
    }

    footer .developer a{
        font-size: 0.75rem;
    }
    
    footer .app-title{
        color: var(--color-text);
        font-size: 0.75rem;
        font-weight: bold;
        margin-right: 10px;
    }

    footer .logo{
        width: 30px;
    }
    .app-title-container{
        gap: 7px;
    }
}