header {
  background-color: var(--color-card);
  color: var(--color-text);
  padding-bottom: 15px;
}

.header{
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
  align-items: center;
}

header .ai-verse {
  display: flex;
  align-items: center;
  padding-right: 0.375rem;
  padding-left: 0.75rem;
  font-size: 1.125rem;
}

header .description {
  font-size: 1.05rem;
  text-align: center;
  font-weight: bold;
  margin: 0 60px 0 60px
}

header .logo {
  height: 45px;
  margin-right: 15px;
}

@media (max-width: 600px) {    
  header .ai-verse {
    font-size: 0.75rem;
  }

  header .logo {
    height: 37.5px;
    margin-right: 11.25px;
  }

    
  header .description {
    font-size: 0.675rem;
    margin: 0 45px 0 45px;
  }

}
