header {
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background-color var(--transition-speed),
              color var(--transition-speed);
}

.header{
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
}

header .ai-verse {
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
  padding-left: 1rem;
  font-size: 1.5rem;
}

header .description {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
  margin: 0 80px 0 80px
}

header .logo {
  height: 60px;
  margin-right: 20px;
}

@media (max-width: 600px) {    
  header .ai-verse {
    font-size: 1rem;
  }

  header .logo {
    height: 50px;
    margin-right: 20px;
  }

    
  header .description {
    font-size: 0.9rem;
    margin: 0 40px 0 40px;
  }

}
