.theme-switcher-btn {
    background-color: var(--color-bg);
    color: var(--color-text);
    border-color: var(--color-border);
    border-radius: 32px;
    font-size: 0.8rem;
    padding: 2px;
    width: 80px;
    height: 40px;
} 


@media (max-width: 600px) {    
    .theme-switcher-btn {
        padding: 2px;
        width: 60px;
        height: 30px;
        font-size: 0.5rem;
    } 
}