.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

}

.search-entry {
    width: 60%;
    height: 3.5rem;
    font-size: 1.5rem;
    padding: 10px;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    background-color: var(--color-bg);
    color: var(--color-text);
}

.ai-view-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
    background-color: var(--color-bg);
}

@media (max-width: 600px) {    
    .ai-view-container{
        display: block;
        justify-content: center;
        align-items: center;
        margin: 5px;
        background-color: var(--color-bg);
    }
}
