.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

}

.search-entry {
    width: 60%;
    height: 3.5rem;
    font-size: 1.3rem;
    padding: 10px;
    border: 3px solid var(--color-border);
    border-radius: 5px;
    background-color: var(--color-bg);
    color: var(--color-text);
    box-shadow: 0 4px 6px var(--shadow-color); /* Added box shadow */
    transition: box-shadow 0.3s ease; /* Optional: smooth hover effect */
}

.search-entry:focus {
    box-shadow: 0 6px 10px var(--shadow-color); /* Optional: shadow when input is focused */
    outline: none; /* remove default outline */
}

.ai-view-container-main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ai-view-container{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    margin: 5px;
    background-color: var(--color-bg);
}

@media (max-width: 600px) {    

    .ai-view-container{
        display: block;
        justify-content: center;
        align-items: center;
        margin: 5px;
        width: 90%;
        background-color: var(--color-bg);
    }

   .search-entry {
        width: 70%;
        height: 3rem;
        font-size: 1rem;
    }
}
